.main_container {
  margin: 0;
  background-color: #D4F5BB;
  border-radius: 5px 5px 3px 12rem;
  height: 38rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}



/* .bg_colour {
    position: absolute;
    width: 91rem;
    height: 471px;
    background: #FBFFDC;
} */
/* .svg-background {
  margin: 0;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='1500' height='742' viewBox='0 0 1853 917' fill='none'><path d='M1853 0V814C1853 870.885 1806.89 917 1750 917H926.5L104.886 908.367C46.7818 907.757 0 860.481 0 802.373V0H1853Z' fill='%23D4F5BB'/></svg>");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
} */
/* body {
  margin: 0;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='1853' height='917' viewBox='0 0 1853 917' fill='none'><path d='M1853 0V814C1853 870.885 1806.89 917 1750 917H926.5L104.886 908.367C46.7818 907.757 0 860.481 0 802.373V0H1853Z' fill='%23D4F5BB'/></svg>");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
  font-family: 'Roboto Slab', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */